@import '../settings/vars.scss';

.color--container{
  width: 100%;
  background-color: #ffffff;//#d9d bd9
}
.design--projects{
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  padding: 50px 0;
  width: 1100px;
}
.title-design{
  grid-column: 1/ span 2;
  font-size: $txt-x-huge;
  letter-spacing: 0.5rem;
  padding: 10px 0;
}
.mockups-img{
  grid-column: 1/span 2;
  justify-self: center;
}

.titledesign--item{
  font-size: $txt-huge;
  letter-spacing: 0.5rem;
  padding: 20px;

}

.projects{
  background-color: $white;
  padding: 1rem;
}

.projects img {
  height: 440px;
  width: 100%;
}

.description{
  padding: 1rem;
}

.link-project{
  text-decoration: revert;
  color: grey;
}

// bootstrap button 

.button-projects {
  font-weight: 600;
  color: #fefae0;
  background-color: #000000;
  padding: 14px;
  border-radius: 4px;
  border-color: #fefae0;
  
}
.button-projects:hover{
  color: #fefae0;
  background-color: #3d3d3d;
  
  transition: all .4s ease-in-out;

}
.bg-color-img{
  background-color: #000000;
}