@import '../settings/vars.scss';

.projects--container{
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 50px 0;
  width: 1100px;
}

.main-title-projects{
  grid-column: 1/span 3;
  grid-row: 1;
  justify-self: start;
  margin: 40px 0;
}
.title-project-item{
  font-size: 2.2rem;
}


.description--project-items{
 color: #212729;
 font-size: 1rem;
 margin: 1rem 0;
 padding: 2px;
}

.img--project_item{
  height: 390px;
  width: 100%;
}

.repo-link{
  background-color: $black;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  font-size: 1rem;
  grid-column: 1/span 3;
  grid-row: 4;
  justify-self: center;
  margin: 30px;
  padding: 1.2em 3em;
  text-align: center;
  width: auto;
}
