*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  //background-color: #d9dbd9;
}

//font family
$regular-font: 'Raleway', sans-serif;
$title-font: 'Bebas Neue', cursive;

// colors 
$black: #000000;
$purple-dark: #9097C0;
$purple: #A7BBEC;
$global-color: #505657;
$color-red:  #E82623;
$color-contrast: #fefae0;
// #0c2f51#98e0d9 ;
$white: #ffffff;
$bd-violet: #cc129d;


// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 990px;
$breakpoint-xl: 1200px;

//buttons
$btn-color: #838392;

// font-sizes
$txt-huge:  1.8rem;
$txt-large:  1.5rem;
$txt-medium: 1.3rem;
$txt-small: 1rem;
$txt-x-huge:  5.3rem;
$txt-x-large: 6.2rem;
$txt-xx-huge: 7.2rem;

h1, h2, h3, h4, h5,h6{
  font-family: $title-font;

}

h1 {
  font-size: $txt-x-large;
}


li {
  font-family: $regular-font;
  color: black;
}

a{
  text-decoration: none;
  color: $black;
  font-family: $regular-font;
}

p{
  font-family: $regular-font;
}


